.logo{
  width: 80px;
  height: 80px;
  background-color: aliceblue;
  border-radius: 50%;
}

img{
  width: 70px;
  height: 70px;
}

.avatar {
  border-radius: 50px;
  border: solid 2px wheat;
}

h2 {
  text-align: center;
  color: wheat;
  font-weight: bold;
  padding-top: 10px;
}



